In [1]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

sns.set()

In [2]:
train_data_path = os.getcwd() + '/train.csv'
variable_def_path = os.getcwd() + '/variable_definitions.csv'

In [3]:
# Retrieving the train data
train_data = pd.read_csv(train_data_path)

# View the train data
train_data.head()

,country,year,uniqueid,bank_account,location_type,cellphone_access,household_size,age_of_respondent,gender_of_respondent,relationship_with_head,marital_status,education_level,job_type
0,Kenya,2018,uniqueid_1,Yes,Rural,Yes,3,24,Female,Spouse,Married/Living together,Secondary education,Self employed
1,Kenya,2018,uniqueid_2,No,Rural,No,5,70,Female,Head of Household,Widowed,No formal education,Government Dependent
2,Kenya,2018,uniqueid_3,Yes,Urban,Yes,5,26,Male,Other relative,Single/Never Married,Vocational/Specialised training,Self employed
3,Kenya,2018,uniqueid_4,No,Rural,Yes,5,34,Female,Head of Household,Married/Living together,Primary education,Formally employed Private
4,Kenya,2018,uniqueid_5,No,Urban,No,8,26,Male,Child,Single/Never Married,Primary education,Informally employed

In [4]:
# Variable definitions
variable_def = pd.read_csv(variable_def_path)
variable_def

      Variable Definitions                                         Unnamed: 1
0                  country                         Country interviewee is in.
1                     year                           Year survey was done in.
2                 uniqueid             Unique identifier for each interviewee
3            location_type                     Type of location: Rural, Urban
4         cellphone_access  If interviewee has access to a cellphone: Yes, No
5           household_size               Number of people living in one house
6        age_of_respondent                         The age of the interviewee
7     gender_of_respondent                Gender of interviewee: Male, Female
8   relationship_with_head  The intervieweeâ€™s relationship with the head o...
9           marital_status  The martial status of the interviewee: Married...
10         education_level  Highest level of education: No formal educatio...
11                job_type  Type of job interviewee has: Farming and Fishi...

In [5]:
# # Country analysis
# # Number of interviewees with bank accounts according to country
# with_account = train_data.groupby(['country', 'bank_account']) ['bank_account'].count()
# with_account.unstack().plot.bar()
# plt.show()

In [6]:
# # Year analysis
# # Number of interviewees with bank accounts according to year of interview
# with_account = train_data.groupby(['year', 'bank_account']) ['bank_account'].count()
# with_account.unstack().plot.bar()
# plt.show()

In [23]:
# Location type analysis
lg = train_data.groupby(['location_type', 'bank_account']) ['bank_account'].count()

rpy = ((lg['Rural']['Yes'] / (lg['Rural']['Yes'] + lg['Rural']['No'])) * 100).round(2)
rpn = ((lg['Rural']['No'] / (lg['Rural']['Yes'] + lg['Rural']['No'])) * 100).round(2)

upy = ((lg['Urban']['Yes'] / (lg['Urban']['Yes'] + lg['Urban']['No'])) * 100).round(2)
upn = ((lg['Urban']['No'] / (lg['Urban']['Yes'] + lg['Urban']['No'])) * 100).round(2)


location_df = pd.DataFrame(data=[[rpy, rpn], [upy, upn]], columns=['% with account', '% without account'], index=['Rural', 'Urban'])
location_df

       % with account  % without account
Rural           11.65              88.35
Urban           17.87              82.13

In [8]:
# # Cellpnone access analysis
# # Number of interviewees with bank accounts according to cellphone access
# with_account = train_data.groupby(['cellphone_access', 'bank_account']) ['bank_account'].count()
# with_account.unstack().plot.bar()
# plt.show()

In [9]:
# # Categorizing interviewees according to the number of the household
# def household_category(size):
#     if size <= 5:
#         return 'Xsmall'
#     elif size > 5 and size <= 9:
#         return 'Small'
#     elif size > 9 and size <= 15:
#         return 'Medium'
#     elif size > 15:
#         return 'Large'
    
# train_data['household_size'] = train_data['household_size'].apply(household_category)

In [10]:
# # Household size analysis
# # Number of interviewees with bank accounts according to the household category
# with_account = train_data.groupby(['household_size', 'bank_account']) ['bank_account'].count()
# with_account.unstack().plot.bar()
# plt.show()

In [11]:
# # Categorizing interviewees according to age
# def age_category(age):
#     if age <= 17:
#         return 'Teen'
#     elif age > 17 and age <= 40:
#         return 'Youth'
#     elif age > 40 and age <= 60:
#         return 'Adult'
#     elif age > 60 and age <= 80:
#         return 'Old'
#     elif age > 80:
#         return 'Very Old'

# train_data['age_of_respondent'] = train_data['age_of_respondent'].apply(age_category)

In [12]:
# # Age analysis
# # Number of interviewees with bank accounts according to the age category
# with_account = train_data.groupby(['age_of_respondent', 'bank_account']) ['bank_account'].count()
# with_account.unstack().plot.bar()
# plt.show()

In [13]:
# # Gender of respondent analysis
# # Number of interviewees with bank accounts according to the gender
# with_account = train_data.groupby(['gender_of_respondent', 'bank_account']) ['bank_account'].count()
# with_account.unstack().plot.bar()
# plt.show()

In [14]:
# # Relationship with head analysis
# # Number of interviewees with bank accounts according to the relationship with head
# with_account = train_data.groupby(['relationship_with_head', 'bank_account']) ['bank_account'].count()
# with_account.unstack().plot.bar()
# plt.show()

In [15]:
# # Marital status analysis
# # Number of interviewees with bank accounts according to the marital status
# with_account = train_data.groupby(['marital_status', 'bank_account']) ['bank_account'].count()
# with_account.unstack().plot.bar()
# plt.show()

In [16]:
# # Education level analysis
# # Number of interviewees with bank accounts according to the education level
# with_account = train_data.groupby(['education_level', 'bank_account']) ['bank_account'].count()
# with_account.unstack().plot.bar()
# plt.show()

In [17]:
# # Job type analysis
# # Number of interviewees with bank accounts according to the job type
# with_account = train_data.groupby(['job_type', 'bank_account']) ['bank_account'].count()
# with_account.unstack().plot.bar()
# plt.show()